*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height: 100vh;
    width: 100%;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dre, #q1, #q2, #q3, #q4, #q5, #result{
    height: 53%;
    width: 40%;
    background: linear-gradient(lightgrey, darkcyan);
    padding-left: 2%;
    padding-top: 2%;
    border-radius: 8px;
    box-shadow: 5px 5px 10px;
    border: solid 2px red;
}
input{
    height: 10%;
    width: 95%;
    border-radius: 5px;
    outline: none;
    border: solid 1px whitesmoke;
    padding-left: 1%;
}
select{
    height: 10%;
    width: 96%;
    border-radius: 5px;
    outline: none;
    border: solid 1px whitesmoke;
    padding-left: 1%;
    color: teal;
}
/* #form-con select{
    height: 10%;
    width: 96%;
} */
button{
    height: 10%;
    width: 96%;
    border-radius: 8px;
    border: none;
    color: whitesmoke;
    background-color: deepskyblue;
    cursor: pointer;
}
#submit{
    background-color: green;
}
li{
    margin-bottom: 2%;
    list-style: none;
}
#q1, #q2, #q3, #q4, #q5, #result{
    display: none;
}
#result{
    justify-content: center;
    align-items: center;
    color: teal;
}